.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em;
}
.hero {
	display: flex;
	flex-direction: column;
	margin: 2em;
	width: 100%;
	max-width: 1440px;
	position: relative;
}

.hero_svg {
	position: relative;
	left: 0;
	top: 0;
}

.svgLight {
	fill: var(--color-accent-purple);
	font-family: "Hack";
	font-size: 1.313rem;
	font-weight: var(--font-bold);
	letter-spacing: 0em;
}

.svgRed {
	fill: var(--color-team-red);
	font-family: "Hack";
	font-size: 1.313rem;
	font-weight: var(--font-bold);
	letter-spacing: 0em;
}

.hero_img {
	position: absolute;
	width: -webkit-fill-available;
	max-width: 828px;
	height: 350px;
	object-fit: cover;
	left: 580px;
	right: 0;
	top: 175px;
	z-index: -1;
}

.cta {
	margin-top: 131px;
	margin-left: 267px;
	display: flex;
	gap: 1.5em;
}

.jobs {
	display: flex;
	flex-direction: column;
	margin: 2em;
	width: 100%;
	max-width: 1142px;
	position: relative;
	gap: 2em;
}
.jobs li {
	list-style-type: none;
}

.jobs_cat > li > div {
	display: flex;
	align-content: center;
}
.jobs_cat > li > div svg {
	height: 1em;
}
.jobs_cat > li > div svg {
	fill: var(--color-text) !important;
}

.jobs_cat > li > div span {
	width: 100%;
	border-bottom: dotted 2px var(--color-text);
}
.jobs_cat a {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin: 1.25em 0;
	padding: 0.625em;
}

.jobs_cat a:hover {
	color: var(--color-white);
	background-color: var(--color-team-red);
	text-decoration: none;
}

.job_title {
	font-weight: var(--font-bold);
}

.job_location {
	opacity: 50%;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em;
	width: 100%;
	max-width: 1440px;
}

@media (prefers-color-scheme: dark) {
	.svgLight {
		fill: var(--color-white);
	}
}
